@charset "utf-8";

.content .content-b{
    margin-top:-500px;
}
.content .content-b::after{
    content:'';
    display: block;
    clear: both;
}
.content .content-b .div-inline{
    float: left;
}
.content .content-b .top .inline-span{
    width:240px;
    margin:50px 0 0 0;
    padding: 15px 0;
    background: white;
}
.content .content-b .width .inline-span{
    width:500px;
    margin:50px 0 0 0;
    padding: 15px 0;
    background: white;
}

.content .content-b .div-right .inline-span{
    width:500px;
    margin:50px 0 0 0;
    padding: 15px 0;
    background: white;
}
.content .content-b .div-inline .inline-span span{
    padding:10px;
    font-size: 18px;
    font-weight:bold;
}
.content .content-b .width{
    padding:0 20px;
}
.content .content-b a:hover img{
    /*调整图像的对比度*/
    filter:contrast(120%);
}